.poke-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 250px;                          
    padding: 12px;

    border: 1px solid #000;
    box-sizing: border-box; 
}

.poke-card h2{
    font-size: 18px;
}