.btnRestart{
    display: flex;
    background-color: #f23;
    color: #fff;
    border-radius: 10px;
    border:none;
    font: caption;
    font-weight: bold;
    padding: 10px;
}

.btnRestart:hover{
    cursor:pointer;
}

.cartas{
    display: flex;
    flex-direction: row;
    margin: auto;
    gap: 10px;
}