.pokeCardFondo{
    padding: 10px;
    border-radius: 10px;
    background-color: #ffcccc;
}
.pokeCard{
    background-color: #cc3300;
    padding: 30px;
}

.pokeCardImg{
    background-color: #00ccff;
    padding: 20px;
    padding-left: 70px;
    padding-right: 70px;
}

.pokeCardSuperior {
    display: flex;
    justify-content: space-between;
    align-items: top;
    margin: 0;
}

.pokeCardSuperior label {
    display: flex;
    flex-direction: row;
    color: #000;
    font-weight: 600;
}

.pokeCardSuperior nav {
    color: #000;
    font-size: 30px;
}

.pokeCardInferior div{
    display: flex;
    color: #000;
    align-items: start;
}

.pokeMovs{
    display: flex;
    flex-direction: column;
}
.pokeMovs ul{
    margin: 0;
    justify-content: end;
}

.pokeXp {
    display: flex;
    justify-content: end;
}